/* Imports */

@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: seashell;
}

.has-error small {
    color: red;
    font-weight: normal;
    margin-left: 5px;
}

#jumbotron-index {
    margin-top: 50px;
    background: #666;
    color: #eee;
}

#contenidoPreguntasFrecuentes {
    /* background-color: blue; */
    background:url("../images/img/fondoinst.jpg");
}
